.banner_header{
 background: no-repeat center top/cover;
 object-fit: contain;
 width: 100%;
 min-height: 448px;
 display: flex;
 flex-flow: column wrap;
 justify-content: center;
 padding: 30px;
 color: white;
 box-shadow: inset 0px -109px 54px -41px rgba(17,17,17,1);

  .banner_title{
   font-size: 3rem;
   font-weight: 800;
  }

  .banner_buttons{
   margin: 17px 0;
  }

  .banner_overview{
   width: 45rem;
   line-height: 1.3;
   font-size: 0.8rem;
   max-width: 360px;
   height: 80px;

  }
}

